h1 {
    margin-top: 40px;
    margin-bottom: 100px;
    background-color: rgba(54, 54, 54, 0.804);
    border-radius: 10px;
    padding: 10px;
    color:#FFFFFF

}

.seccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding:20px;
    margin:0;
    border-radius: 20px;
    font-size: 24px;
    text-decoration: none;

}

li{
    background-color: #212529;
    margin-bottom: 10px;
    border-radius: 5px;
    padding:5px;
    box-shadow: #212529;
}

a:link, a:visited,  a:hover, a:active{
    padding: 4px 25px;
    background: rgba(54, 54, 54, 0.804);
    border: 1px solid rgba(54, 54, 54, 0.904);
    color: #fff;
    border-radius: 4px;
    text-decoration:none;
}

a:active{
    padding: 4px 25px;
    background: rgba(20, 20, 20, 0.95);
    border: 1px solid rgba(154, 150, 150, 0.804);
    color: #fff;
    border-radius: 4px;
    text-decoration:none;
}

